{% extends 'table.html' %}

{% block body %}
    <div class="cont">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
              
              <th scope="col">Имя</th>
              <th scope="col">Дата рождения</th>
              
            </tr>
        </thead>
        <tbody>
        <tr>
            <form>
                <th>
                    <input name="name__icontains" class="form-control">
                </th>
                <th>
                    <input name="birthday__icontains" class="form-control">
                </th>
                <th></th>
                <th>
                    <button class=" btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
            {% for client in data %}
                <tr>
                    
                    <td>{{ client.name }}</td>
                    <td>{{ client.birthday }}</td>
                    <td>
                        <form action="/delete/" method="POST">
                            {% csrf_token %}
                            <input name="id" type="hidden"  value="{{ client.client_id }}">
                            <input name="table" type="hidden"  value="session">
                            <button class="btn btn-danger" type="submit"> Удалить </button>

                        </form>

                    </td>
                    <td><a href="/update/client/{{ client.client_id }}" class="btn btn-primary">Редактировать</a></td>
                </tr>

            {% endfor %}
        </tbody>

    </table>

</div>


{% endblock body %}