{% extends 'base.html' %}


{% block body %}
<form class="row col-sm-12 g-3 align-middle p-auto row justify-content-center border" action="/update/client/{{ client.client_id }}/" method="POST">
    {% csrf_token %}

        <label> Имя клиента
            {{ form.name.errors }}
        {{ form.name }}
            </label>

        <label>
            День рождения
            {{ form.birthday.errors}}
            {{ form.birthday }}
        </label>
        <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    <div class="cont">

    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Номер</th>
              <th scope="col">Сеанс</th>
              <th scope="col">Дата выхода</th>
              <th scope="col">Дата приобретения</th><th scope="col">Ряд</th><th scope="col">Место</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in data %}
                <tr >
                    <th scope="row">1</th>
                    
                    <td>{{ ticket.session_id }}</td>
                    <td>{{ ticket.purchase_time}}</td>
                    <td> {{ ticket.row }}</td>
                    <td> {{ ticket.seat }}</td>
                    <td>
                        <form action="/delete/" method="POST">
                            {% csrf_token %}
                            <input name="id" type="hidden"  value="{{ ticket.ticket_id }}">
                            <input name="table" type="hidden"  value="ticket">
                            <button class="btn btn-danger" type="submit"> Удалить </button>

                        </form>

                    </td>
                    <td><a href="/update/ticket/{{ ticket.ticket_id }}" class="btn btn-primary">Редактировать</a></td>
                </tr>

            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock body %}