{% extends 'base.html' %}



{% block body %}

    {{ form.non_field_errors }}
    {{ form.hall_title.errors }}
    <form class="row col-sm-12 g-3 align-middle p-auto row justify-content-center border" action="/update/hall/{{ movie.movie_id }}/" method="POST">
    {% csrf_token %}

        <label> Название Зала
        {{ form.hall_title.errors }}
        {{ form.hall_title }}</label>




        <button class="btn btn-primary" type="submit">Отправить</button>
    </form>
    <table class="table movie caption-top">
    <caption>Список сеансов</caption>
        <thead>
            <tr>
              <th scope="col">Номер</th>
              <th scope="col">Дата проведения</th>
              <th scope="col">Стоимость</th>
            </tr>
        </thead>
        <tbody>
    {% for row in rows %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ row.row_num }}</td>
                    <td>{{ row.num_seats }}</td>
                   
                    <td>
                        <form action="/delete/" method="POST">
                            {% csrf_token %}
                            <input name="id" type="hidden"  value="{{ row.row_id }}">
                            <input name="table" type="hidden"  value="row">
                            <button class="btn btn-danger" type="submit">Удалить</button>

                        </form>

                    </td>
                    <td><a href="/update/row/{{ row.row_id}}" class="btn btn-primary">Редактировать</a></td>
                </tr>
            {% endfor %}
    </tbody>
    </table>



{% endblock body %}