{% extends 'base.html' %}

{% block body %}

    <div class="row justify-content-center">
    
    
    <form class="row g-3 w-50  align-middle" action="/login" method="POST">
        {% csrf_token %}
        
        {% for field in form %}   
            <div class="form-floating col-12">
                {{ field }}
                
                {% for error in field.errors %}
                    <label for="{{ form.password.auto_id }}">{{ error }}</label>  
                {% endfor %}
                
                    <label for="{{ form.password.auto_id }}" class="floatingInputGrid">{{ field.label }}</label>
               
            </div>
        {% endfor %}
        <div class="form-floating col-12"> </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
        
        
    
    </form>
   </div>
    
{% endblock body %}