{% extends 'base.html' %}

{% block body %}
    <div class="row col justify-content-center mt-2">
    <div class="row col-sm-9 justify-content-center border">
    
    
    <form class="row col-sm-12 g-3 align-middle p-auto row justify-content-center" action="/login" method="POST">
        {% csrf_token %}
        
        {% for field in form %}   
            <div class="form-floating col-sm-12">
                {{ field }}
                
                {% for error in field.errors %}
                    <label for="{{ form.password.auto_id }}">{{ error }}</label>  
                {% endfor %}
                
                    <label for="{{ form.password.auto_id }}" class="floatingInputGrid">{{ field.label }}</label>
               
            </div>
        {% endfor %}

        <div class="col-sm-12 ">
            <button type="submit" class="btn btn-primary mb-3">Войти</button>
        </div>
        
        
    
    </form>
   </div>
    </div>
{% endblock body %}