{% extends 'table.html' %}

{% block body %}
    <div class="cont">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
 <tr>
            <form>
                <th>
                    <input name="movie_title__icontains" class="form-control">
                </th>
                <th>
                    <input name="release_date__icontains" class="form-control">
                </th>
                <th>
                    <input name="age_limit__icontains" class="form-control">
                </th>
                <th><button class=" btn btn-primary">Поиск</button></th>
                <th>
                    <a href="/update/movie/0" class="btn btn-primary">Создать</a>
                </th>
            </form>
        </tr>
              <th scope="col">Название</th>
              <th scope="col">Дата выхода</th>
              <th scope="col">Возрастное ограничение</th>
            </tr>
        </thead>
        <tbody>

            {% for movie in data %}
                <tr>

                    <td>{{ movie.movie_title }}</td>
                    <td>{{ movie.release_date }}</td>
                    <td>{{ movie.age_limit }}</td>
                    <td>
                        <form action="/delete/" method="POST">
                            {% csrf_token %}
                            <input name="id" type="hidden"  value="{{ movie.movie_id }}">
                            <input name="table" type="hidden"  value="movie">
                            <button class="btn btn-danger" type="submit"> Удалить </button>

                        </form>

                    </td>
                    <td><a href="/update/movie/{{ movie.movie_id }}" class="btn btn-primary">Редактировать</a></td>
                </tr>
                
            {% endfor %}
        </tbody>

    </table>

</div>



{% endblock body %}