{% extends 'base.html' %}

{% block body %}
    {% csrf_token %}
    <table class="table movie">
        <thead>
            <tr>
              <th scope="col">Номер</th>
              <th scope="col">Название</th>
              <th scope="col">Дата выхода</th>
              <th scope="col">Возрастное ограничение</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in data %}
                <tr id="Movie{{ movie.movie_id }}">
                    <th scope="row">1</th>
                    <td>{{ movie.movie_title }}</td>
                    <td>{{ movie.release_date }}</td>
                    <td>{{ movie.age_limit }}</td>
                    <td>
                        <form action="/delete/" method="POST">
                            {% csrf_token %}
                            <input name="id" type="hidden"  value="{{ movie.movie_id }}">
                            <input name="table" type="hidden"  value="movie">
                            <button class="btn btn-danger" type="submit"> Удалить </button>

                        </form>

                    </td>
                    <td><a href="/update/movie/{{ movie.movie_id }}" class="btn btn-primary">Редактировать</a></td>
                </tr>
                
            {% endfor %}
        </tbody>

    </table>




{% endblock body %}