{% extends 'table.html' %}

{% block body %}
    <div class="cont">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>

              <th scope="col">Фильм</th>
              <th scope="col">Зал</th>
              <th scope="col">Время проведения</th>
                <th scope="col"> Стоимость</th>
            </tr>
        </thead>
        <tbody>
        <form>
                <th>
                    <input name="movie_id__movie_title__icontains" class="form-control">
                </th>
                <th>
                    <input name="hall_id__hall_title__icontains" class="form-control">
                </th>
                <th><input name="start_time__icontains" class="form-control"></th>
            <th><input name="cost__icontains" class="form-control"></th>

                <th>
                    <button class=" btn btn-primary">Поиск</button>
                </th>

                    <td><a href="/update/hall/0" class="btn btn-primary">Создать</a></td>

            </form>
            {% for session in data %}
                <tr>

                    <td>{{ session.movie_id }}</td>
                    <td>{{ session.hall_id }}</td>
                    <td>{{ session.start_time }}</td>
                    <td>{{ session.cost}}</td>
                    <td>
                        <form action="/delete/" method="POST">
                            {% csrf_token %}
                            <input name="id" type="hidden"  value="{{ session.session_id }}">
                            <input name="table" type="hidden"  value="session">
                            <button class="btn btn-danger" type="submit"> Удалить </button>

                        </form>

                    </td>
                    <td><a href="/update/session/{{ session.session_id }}" class="btn btn-primary">Редактировать</a></td>
                </tr>

            {% endfor %}
        </tbody>

    </table>
</div>


{% endblock body %}