{% extends 'base.html' %}


{% block body %}
      <div class="cont" >
<form class="row col-sm-12 g-3 align-middle p-auto row justify-content-center border" action="/update/session/{{ session.session_id }}/" method="POST">
    {% csrf_token %}
    <label>Время начала фильма
        {{ form.start_time.errors }}
        {{ form.start_time }}
        </label>
    <label>Стоимость в рублях
    {{ form.cost.errors }}
    {{ form.cost }}
        </label>
    <label> Зал
        {{ form.hall_id }}
        {{ form.hall_errors }}
        </label>
    <label> Название фильма
        {{ form.movie_id }}</label>

    <button class="btn btn-primary" type="submit">Отправить</button>

</form>

<div class="row" id="overflow" style="width: 100%; overflow-x: auto;">
Места в зале

    {% for row in hall %}
<table class="table movie cont">

                <tr >

                {% for seat in row.0 %}
                    <td >
                    {% if seat.1 %}

                        <a href="/update/ticket/{{ seat.1.ticket_id }}" class="btn btn-danger p-2" ></a>
                    {% else %}
                        <a class="btn btn-info p-2" href="/create/ticket/{{ session.session_id }}/{{ row.1}}/{{ seat.0 }}" ></a>



                    {% endif %}

                    </td>

                    {% endfor %}
                    </tr>
                </table>
            {% endfor %}

</div>
      </div>
{% endblock %}