{% extends 'table.html' %}

{% block body %}
    <div class="cont">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Клиент</th>
              <th scope="col">Сеанс</th>
              <th scope="col">Дата приобретения</th><th scope="col">Ряд</th><th scope="col">Место</th>
            </tr>
        </thead>
        <tbody>
         <tr>
            <form>
                <th>
                    <input name="client_id__name__icontains" class="form-control">
                </th>
                <th>
                    <input name="session_id__movie_id__movie_title__icontains" class="form-control">
                </th>
                <th>
                    <input name="purchase_time__icontains" class="form-control">
                </th>
                <th></th>
                <th></th>
                <th>
                    <button class=" btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
            {% for ticket in data %}
                <tr >

                    {{ form.client_id.errors }}
                    <td>{{ ticket.client_id }}</td>
                    <td>{{ ticket.session_id }}</td>
                    <td>{{ ticket.purchase_time}}</td>
                    <td> {{ ticket.row }}</td>
                    <td> {{ ticket.seat }}</td>
                    <td>
                        <form action="/delete/" method="POST">
                            {% csrf_token %}
                            <input name="id" type="hidden"  value="{{ ticket.ticket_id }}">
                            <input name="table" type="hidden"  value="ticket">
                            <button class="btn btn-danger" type="submit"> Удалить </button>

                        </form>

                    </td>
                    <td><a href="/update/ticket/{{ ticket.ticket_id }}" class="btn btn-primary">Редактировать</a></td>
                </tr>

            {% endfor %}
        </tbody>

    </table>

</div>


{% endblock body %}